@charset "utf-8";

body {
  width: 100%;
  margin: 0 auto;
}

main {
  padding-bottom: 50px;
}

.h1 {
  margin: 0;
  width: 100%;
  height: 300px;
}

.section {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.section:first-of-type {
  margin-top: 50px;
}

.header-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 62%;
}
.title {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.about-content {
  padding-top: 40px;
}

.about-name {
  margin: 0;
}

.about-list {
  list-style: none;
  padding-left: 0;
}

.works-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 40px;
}

.works-img {
  width: 240px;
  height: 180px;
}

.news-box {
  padding-top: 40px;
}

.news-content {
  text-decoration: none;
  display: flex;
  gap: 90px;
  color: black;
  border-top: 1px solid #666666;
  text-align: left;
}

.news-content:nth-child(5) {
  border-bottom: 1px solid #666666;
}

.news-date {
  margin-left: 20px;
}

.form {
  padding-top: 40px;
}

.form-box {
  display: flex;
  margin-bottom: 5px;
}

.form-box label {
  width: 120px;
}

.input {
  flex: 1;
  height: 20px;
  border:1px solid #b5b1b1;
  border-radius: 5px;
}

.input-message {
  height: 100px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 70px;
  color: white;
  background-color: #443d3d;
}

@media(max-width: 767px) {
  .section {
    max-width: 100%;
    padding: 0 20px; 
    margin-top: 80px;
  }

  .works-img {
    width: 100px;
    height: 70px;
  }

}
